# Virtual environments
venv/
env/
.venv/
venv310/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temp files
*.log
*.tmp
*.bak

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# IDE/editor settings
.vscode/
.idea/

# OS-specific
.DS_Store
Thumbs.db

# Build/packaging
build/
dist/
*.egg-info/
